p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 10px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
a:hover { color:blue; }
.nav a { color:blue; }

.app {
  min-height: 100%;
  width: 1400px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  background-color: #282c34;
}

h1 {
  font-size: 40px;
}

.trending-tv {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
}

.trending-movie {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: center;
}

.tv {
  display: flex;
  width: 95%;
  flex-direction: row;
  /* width: 700px; */
  text-align: start;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #33363d;
}

.poster {
  width: 120px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.vote {
  font-size: 30px;
}

.max-score {
  font-size: 16px;
  color: #818181;
}

.name {
  font-size: 24px;
  padding: 10px 0px;
}

.trailer {
  font-size: 18px;
  color: azure;
  margin: 5px 0px;
}
.trailer:hover {
  color: blue;
}

.network {
  font-size: 16px;
  color: #818181;
  margin: 5px 0px;
}

.genre {
  font-size: 13px;
  padding-left: 20px;
  color: #818181;
}